<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gifty>
            <general>
                <apply_to_shipping>1</apply_to_shipping>
            </general>
        </gifty>
    </default>
</config>
