<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="gifty" translate="label" sortOrder="100">
			<label>Gifty</label>
		</tab>
		<section id="gifty" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
			<label>Gift card settings</label>
			<tab>gifty</tab>
			<resource>Gifty_GiftCard::settings</resource>

			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
				   showInStore="1">
				<label>General Configuration</label>
				<field id="api_key" translate="Gifty API Key" type="text" sortOrder="1" showInDefault="1"
					   showInWebsite="0"
					   showInStore="1">
					<label>API Key</label>
					<comment>Enter your API Key. You can manage API-keys in your Gifty dashboard under the Developer
						options.
					</comment>
					<validate>required-entry validate-no-html-tags no-whitespace</validate>
					<backend_model>Gifty\Magento\Model\Config\Backend\ApiKey</backend_model>
				</field>
			</group>
		</section>
	</system>
</config>
